* {
    box-sizing: border-box;
}

body {
    font-family: "Karla";
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #007BFF 1.18%, #076FDF 100%);
    box-shadow: 0 2px 20px #719ECE;
}

.navbar img {
    height: 50px;
    margin-left: 150px;

}

.navbar h2 {
    margin-left: 30px;
    color: aliceblue;
}

.form {
    margin-top: 30px;
    display: grid;
    grid-template: 20px 5px / 1fr 1fr;
    gap: 50px;

}

.form-input{
    width: 400px;
    height: 40px;
    font-family: "Karla";
    text-indent: 20px;
    font-size: 1.15rem;
    border: solid 1px #1068c7;
    border-radius: 5px;
}

.form-input:focus{
    outline: none !important;
    border:1px solid #007bff;
    box-shadow: 0 0 10px #719ECE;
  }

::placeholder {
    color :#0D0D0D;
}

.meme-btn {
    margin-top: -50px;
    grid-column: 1/-1;
    height: 50px;
    background-color : #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Karla";
    cursor: pointer
}

.meme-btn:hover {
    box-shadow: 0 0 3px #3a82ce;
}

main {
 display: flex;
 justify-content: center;
}

.meme-img {
  margin-top: -20px;
  height: 600px;
  grid-column: 1/-1;
  max-width: 850px;
  margin: auto;
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 220px 0;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.top {
    top: 70px;
}

 .bottom {
     bottom: -100px;
 }

 .download-btn {
    margin-top: -20px;
    grid-column: 1/-1;
    height: 50px;
    background-color : #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    font-family: "Karla";
    cursor: pointer
 }